.all {
    padding: 15px 30px;
    text-align: center;
}
.title1 {
    color: blue;
    font-size: 40px;
}
.picbox {
    text-align: right;
}
.pic {
    width: 100px;
}
.title2, .title3 {
    font-size: 32px;
    margin-top: 0;
    text-align: right;
}
.title2 {
    color: green;
}
.text {
    font-size: 23px;
    margin-bottom: 0;
}
.mi {
    color: orangered;
}
.sam {
    color: dodgerblue;
}
.hw {
    color: magenta;
}
.title3 {
    color: purple;
}
.apple {
    color: olive;
}
.pic2 {
    width: 350px;
    border-radius: 15px;
}
.box {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 15px;
}
.box1 {
    background-color: yellow;
}
.box2 {
    background-color: lime;
}